<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-md d-flex justify-content-center">
            <p class="mb-0">Frete grátis para todo o Brasil</p>
        </div>
    </nav>

</header>
<div class="bg-dark banner-img">
    <div class="containe-fluid py-5">
        <div class="container py-5 text-light">
            <h1 class="fs-5"><img  src="../../../assets/image/icon-jordan-50.svg" alt="">JordanShoes</h1>
            <h2 class="fs-3">A melhor loja de Jordan</h2>
            <p>O tênis Jordan é fruto de uma velha e forte<br>
                parceria entre a Nike e o jogador Michael Jordan.</p>
        </div>
    </div>
</div>